*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
.gradle/
build/
local.properties
*.log
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild
.cxx/
.kotlin/
keystore.properties
*.keystore
*.jks
